<!DOCTYPE html>
<html>
<head>
  <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% load staticfiles %}
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">

    <link rel="stylesheet" href="{% static "css/main.css" %}">

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="{% static "img/logo.png" %}" height="30" width="100">
      </a>


    </div>

  </div>
</nav>
<div class="container">
<div class="row">
<p style="text-align: center;">Please Enter your bonga
pin on your handset or press *126# to create one</p>


</div>

</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>

</body>
</html>
